@import "../../../variables";

[customDay] {
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  background: transparent;

  // currently selected day
  &.selected {
    background: var(--bs-primary);
    color: white;
  }

  //TODO: FIXME: this doesnt look good when hovering guessed dates
  &:hover:not(.selected),
  &.active:not(.selected) {
    background-color: var(--bs-tertiary-bg);
    outline: 1px solid var(--bs-border-color);
  }

  &.outside {
    opacity: 0.5;
  }

  // guessed day
  &.guessed:not(.selected) {
    background: $correct-color !important;
    color: white;
  }

  // started, but not guessed day
  &.started:not(.selected) {
    background: $partial-color;
  }
}
