@use "sass:color";
@import "../../../variables";

[customDay] {
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  background: transparent;

  // currently selected day
  &.selected {
    background: var(--bs-primary);
    color: white;
    &:hover {
      background: color.adjust(#0D6EFD, $lightness: 10%);
    }
  }

  // hovered fields
  &:hover:not(.selected, .guessed, .started),
  &.active:not(.selected, .guessed, .started) {
    background-color: var(--bs-tertiary-bg);
    outline: 1px solid var(--bs-border-color);
  }

  &.outside {
    opacity: 0.5;
  }

  // guessed day
  &.guessed:not(.selected) {
    background: $correct-color;
    color: white;
    &:hover {
      background: color.adjust($correct-color, $lightness: 10%);
    }
  }

  // started, but not guessed day
  &.started:not(.selected, .guessed) {
    background: $partial-color;
    &:hover {
      background: color.adjust($partial-color, $lightness: 10%);
    }
  }
}
