@if (loading) {
  Loading...
} @else {
  @if (!card) {
    Couldn't load data...
  } @else {
    <div class="d-flex flex-column">
      <!--TODO: guessed stuff -->
      <div>{{ card.name }} {{ card.name_de }}</div>
      <!--<img src="https://marvelcdb.com/bundles/cards/{{card.code}}.png">-->
      <div class="input-group">
        <input placeholder="Enter your guess here" class="form-control form-control-lg" [(ngModel)]="search">
        <span class="input-group-text">Guess #{{ guesses.length + 1 }}</span>
      </div>
      @for (result of shownSearchResults(); track result.code) {
        {{result.name}}<br>
      }
      @if (shownSearchResults().length != searchResults().length) {
        ...
      }
      @for (guess of guesses; track guess.code) {

      }
    </div>
  }
}

