@if (loading) {
  Loading...
} @else {
  @if (!card) {
    Couldn't load data...
  } @else {
    <div class="d-flex flex-column">
      <!--TODO: guessed stuff -->
      <div>{{ card.name }} {{ card.name_de }}</div>
      <!--<img src="https://marvelcdb.com/bundles/cards/{{card.code}}.png">-->
      <div class="d-flex">
        <!-- Search -->
        <div class="flex-grow-1 position-relative">
          <!-- Search Input -->
          <input placeholder="Enter your guess here" class="form-control form-control-lg" [(ngModel)]="search">
          <!-- Search Results -->
          <div class="z-2 position-absolute w-100 bg-white border rounded-bottom" [class.d-none]="!shownSearchResults().length">
            @for (result of shownSearchResults(); track result.code) {
              <div>{{ result.name }}</div>
            }
            @if (shownSearchResults().length != searchResults().length) {
              <div>...</div>
            }
          </div>
        </div>
        <!-- Guess Counter -->
        <span class="w-25 border rounded text-center align-content-center fs-5">Guess #{{ guesses.length + 1 }}</span>
      </div>
      @for (guess of guesses; track guess.code) {

      }
    </div>
  }
}

