<div class="modal-header">
  <h4 class="modal-title">You guessed the card in {{ guesses.length }} guesses!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <app-card-info [card]="card" [correctCard]="null!" [germanLanguage]="germanLanguage"
                   showBorder="false"></app-card-info>
  </div>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary" (click)="share()">Share</button>
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Close</button>
  </div>
</div>
