<div class="d-flex rounded" [class.border]="showBorder()">
  <!-- img -->
  <div class="col-2 p-2">
    <img class="img" [src]="cardImg()">
  </div>
  <div class="col-6 d-flex flex-column">
    <!-- name -->
    @let name = getName(card());
    @let hasGuessedName = correctCard() && card().name == correctCard().name;
    <ng-template #nameDisplay>
      @if (correctCard() && !hasGuessedName && getName(correctCard()).startsWith(name[0])) {
        <span class="value correct">{{ name[0] }}</span><span>{{ name.slice(1) }}</span>
      } @else {
        <span class="value" [class.correct]="hasGuessedName">
          {{ name }}
        </span>
      }
    </ng-template>
    @if (showMarvelCDBLink()) {
      <a [href]="getCardMarvelCDBURL(card())" target="_blank" rel="noreferrer noopener" class="fw-bold">
        <ng-template [ngTemplateOutlet]="nameDisplay"></ng-template>
      </a>
    } @else {
      <span class="fw-bold"><ng-template [ngTemplateOutlet]="nameDisplay"></ng-template></span>
    }
    <!-- cost -->
    <div>
      <span class="value"
            [class.correct]="correctCard() && card().cost == correctCard().cost"
            [class.lower]="correctCard() && answerIsLower(card().cost, correctCard().cost)"
            [class.higher]="correctCard() && answerIsHigher(card().cost, correctCard().cost)">{{ card().cost ?? "-" }} </span>
      <span class="text-muted">Cost</span>
    </div>
    <!-- type -->
    <div>
      <span class="value"
            [class.correct]="correctCard() && card().type == correctCard().type">{{ getType(card().type) }} </span>
      <span class="text-muted">Type</span>
    </div>
    <!-- faction -->
    <div>
      <span class="value"
            [class.correct]="correctCard() && card().faction == correctCard().faction">{{ getFaction(card().faction) }} </span>
      <span class="text-muted">Aspect</span>
    </div>
  </div>
  <div class="col">
    <div>
      <span class="fw-bold">Resources </span>
      @for (resource of card().resources; track $index) {
        <span class="resource {{resource}}"
              [class.correct]="correctCard() && correctCard().resources.includes(resource)">{{ resource.toUpperCase() }}</span>
      }
    </div>
    <div>
      <span class="fw-bold">Packs </span>
      @for (pack of card().packs; track pack) {
        <span class="value"
              [class.correct]="correctCard() && correctCard().packs.includes(pack)">{{ getPack(pack) }}</span>@if (!$last) {, }
      }
    </div>
    <div>
      <span class="fw-bold">Traits </span>
      @for (trait of card().traits; track trait) {
        <span class="value"
              [class.correct]="correctCard() && correctCard().traits.includes(trait)">{{ trait }}</span>.
      }
    </div>
  </div>
</div>

