@if (loading) {
  Loading...
} @else {
  @if (!cardToGuess()) {
    Couldn't load data...
  } @else {
    <!-- Legend -->
    <div class="legend z-1" [class.showLegend]="showLegend">
      <div class="tab bg-body" (click)="toggleLegend()">
        <div>
          <p>Legend</p>
        </div>
      </div>
      <div>
        <div>
          <ul class="body list-group list-group-flush">
            <li class="list-group-item"><span class="correct">✓ Correct guess</span></li>
            <li class="list-group-item"><span class="higher">˄ Solution is higher</span></li>
            <li class="list-group-item"><span class="lower">˅ Solution is lower</span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="d-flex flex-column gap-1 pb-2">
      @if (cardGuessed()) {
        <h4 class="correct text-center">
          You guessed the card! It was {{ getName(cardToGuess()) }}.
        </h4>
      }
      <!-- Debug Menu -->
      @if (IS_DEV) {
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" (click)="resetToday()">Reset</button>
          <button type="button" class="btn btn-outline-primary" (click)="logSolution()">Log solution</button>
        </div>
      }
      <!-- Parameters -->
      <div class="input-group">
        <span class="input-group-text">Card for Date</span>
        <input type="date" [(ngModel)]="date" [maxDate]="todayNgbDate" class="form-control"
               ngbDatepicker
               readonly
               #d="ngbDatepicker"
               (ngModelChange)="onDayChange()">

        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Change</button>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showSearchImages">
        <label class="form-check-label" for="checkDefault">
          Show Card Images in Search
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="germanLanguage">
        <label class="form-check-label" for="checkDefault">
          German Language
        </label>
      </div>
      <!-- Guess Info -->
      <app-guess-info [card]="null!"
                      [correctCard]="cardToGuess()"
                      [guesses]="guesses()"
                      [germanLanguage]="germanLanguage()"
                      [(filter)]="filter"></app-guess-info>
      <!-- Search Bar -->
      <div class="d-flex gap-1">
        <!-- Search -->
        <div class="flex-grow-1 position-relative">
          <!-- Search Input -->
          <input placeholder="{{filterDescription()}}Enter your guess here" class="form-control form-control-lg"
                 [(ngModel)]="search"
                 [disabled]="cardGuessed()">
          <!-- Search Results -->
          <div class="z-2 position-absolute w-100 bg-white border rounded-bottom"
               [class.d-none]="!shownSearchResults().length">
            @for (result of shownSearchResults(); track result.code) {
              <div class="cursor-pointer d-flex" (click)="guessCard(result)">
                @if (showSearchImages()) {
                  <div class="col-2 p-2"><img class="card-img" [src]="getCardImage(result)"></div>
                }
                <div class="col align-content-center">{{ getName(result) }} ({{ getFaction(result.faction) }})</div>
              </div>
            }
            @if (shownSearchResults().length != searchResults().length) {
              <div class="p-2">...</div>
            }
          </div>
        </div>
        <!-- Guess Counter -->
        @if (!cardGuessed()) {
          <span
            class="w-25 border rounded text-center align-content-center fs-5">Guess #{{ guesses().length + 1 }}</span>
        } @else {
          <button type="button" class="w-25 btn btn-outline-primary" (click)="showSuccessModal()">Show Result</button>
        }

      </div>
      @for (guess of guesses(); track guess.code) {
        <app-card-info [card]="guess" [correctCard]="cardToGuess()" [germanLanguage]="germanLanguage()"></app-card-info>
      }
    </div>
  }
}

