<div class="d-flex border rounded">
  <!-- img -->
  <div class="col-2 p-2">
    <img class="img" [src]="cardImg()">
  </div>
  <div class="col-6 d-flex flex-column">
    <!-- name -->
    @let nameValue = value("name");
    <div class="value fw-bold"
         [class.correct]="nameValue != null"
         [class.filter]="filter()?.field == 'name'"
         (click)="setFilter('name')">{{ nameValue ? getName(correctCard()) : PLACEHOLDER }}
    </div>
    <!-- cost -->
    <div>
      @let costValue = value("cost");
      <span class="value"
            [class.correct]="costValue != null"
            [class.filter]="filter()?.field == 'cost'"
            (click)="setFilter('cost')">{{ costValue ?? PLACEHOLDER }} </span>
      <span class="text-muted">Cost</span>
    </div>
    <!-- type -->
    <div>
      @let typeValue = value("type");
      <span class="value"
            [class.correct]="typeValue != null"
            [class.filter]="filter()?.field == 'type'"
            (click)="setFilter('type')">{{ typeValue ? getType($any(typeValue)) : PLACEHOLDER }} </span>
      <span class="text-muted">Type</span>
    </div>
    <!-- faction/aspect -->
    <div>
      @let factionValue = value("faction");
      <span class="value"
            [class.correct]="factionValue != null"
            [class.filter]="filter()?.field == 'faction'"
            (click)="setFilter('faction')">{{ factionValue ? getFaction($any(factionValue)) : PLACEHOLDER }} </span>
      <span class="text-muted">Aspect</span>
    </div>
  </div>
  <div class="col">
    <div>
      <span class="fw-bold">Resources </span>
      @for (resource of correctCard().resources; track $index) {
        @let hasValue = hasResource(resource);
        <span class="{{hasValue ? `resource ${resource}` : ''}}"
              [class.filter]="filter()?.field == 'resources' && filter()?.value == resource"
              (click)="setFilterArray('resources', resource)">{{ hasValue ? resource.toUpperCase() : PLACEHOLDER }}</span>
      }
    </div>
    <div>
      <span class="fw-bold">Packs </span>
      @for (pack of correctCard().packs; track pack) {
        @let hasValue = hasPack(pack);
        <span class="value"
              [class.correct]="hasValue"
              [class.filter]="filter()?.field == 'packs' && filter()?.value == pack"
              (click)="setFilterArray('packs', pack)">{{ hasValue ? getPack(pack) : PLACEHOLDER }}</span>@if (!$last) {
          ,
        }
      }
    </div>
    <div>
      <span class="fw-bold">Traits </span>
      @for (trait of correctCard().traits; track trait) {
        @let hasValue = hasTrait(trait);
        <span class="value"
              [class.correct]="hasValue"
              [class.filter]="filter()?.field == 'traits' && filter()?.value == trait"
              (click)="setFilterArray('traits', trait)">{{ hasValue ? trait : PLACEHOLDER }}</span>@if (!$last) {
          .
        }
      }
    </div>
  </div>
</div>

