<div class="d-flex border rounded">
  <!-- img -->
  <div class="col-2 p-2">
    <img class="img" [src]="cardImg()">
  </div>
  <div class="col-6 d-flex flex-column">
    <!-- name -->
    @let name = getName(correctCard());
    @let nameValue = value("name");
    <div class="fw-bold">
      @if (nameValue) {
        <span class="value correct"
              [class.filter]="filter()?.filter == 'name'"
              (click)="setFilter('name')">{{ name }}</span>
      } @else {
        @let hasFirst = hasFirstLetter();
        @if (hasFirst) {
          <span class="value partial"
                [class.filter]="filter()?.filter == 'firstLetter'"
                (click)="setFilterCustom('firstLetter', name[0])">{{ name[0] }}</span>
        }
        @for (part of guessNameParts(); track $index + part) {
          <span [class.ms-n1]="$first && hasFirst">
            @if ($first && hasFirst) {
              {{ part.slice(1) }}
            } @else {
              {{ part }}
            }
          </span>
        }
      }
    </div>
    <!-- cost -->
    <div>
      @let costValue = value("cost");
      <span class="value"
            [class.correct]="costValue != null"
            [class.filter]="filter()?.filter == 'cost'"
            (click)="setFilter('cost')">{{ costValue ?? PLACEHOLDER }} </span>
      <span class="text-muted">Cost</span>
    </div>
    <!-- type -->
    <div>
      @let typeValue = value("type");
      <span class="value"
            [class.correct]="typeValue != null"
            [class.filter]="filter()?.filter == 'type'"
            (click)="setFilter('type')">{{ typeValue ? getType($any(typeValue)) : PLACEHOLDER }} </span>
      <span class="text-muted">Type</span>
    </div>
    <!-- faction/aspect -->
    <div>
      @let factionValue = value("faction");
      <span class="value"
            [class.correct]="factionValue != null"
            [class.filter]="filter()?.filter == 'faction'"
            (click)="setFilter('faction')">{{ factionValue ? getFaction($any(factionValue)) : PLACEHOLDER }} </span>
      <span class="text-muted">Aspect</span>
    </div>
  </div>
  <div class="col">
    <div>
      @let resourcesComplete = hasAllResources();
      <span class="value fw-bold"
            [class.partial]="hasAnyResource()"
            [class.correct]="resourcesComplete"
            [class.filter]="filter()?.filter == 'allResources' || filter()?.filter == 'anyResource'"
            (click)="setFilterCustom(resourcesComplete ? 'allResources' : 'anyResource')">Resources </span>
      @for (resource of correctCard().resources; track $index) {
        @let hasValue = hasResource(resource);
        <span class="{{hasValue ? `resource ${resource}` : ''}}"
              [class.filter]="filter()?.filter == 'resources' && filter()?.value == resource"
              (click)="setFilterArray('resources', resource)">{{ hasValue ? resource.toUpperCase() : PLACEHOLDER[0] }}</span>
      }
    </div>
    <div class="packs">
      @let packsComplete = hasAllPacks();
      <span class="value fw-bold"
            [class.correct]="packsComplete"
            [class.filter]="filter()?.filter == 'allPacks'"
            (click)="setFilterCustom('allPacks')">Packs </span>
      @for (pack of correctCard().packs; track pack) {
        <span class="value"
              [class.correct]="packsComplete"
              [class.filter]="filter()?.filter == 'packs' && filter()?.value == pack"
              (click)="setFilterArray('packs', pack)">{{ packsComplete ? getPack(pack) : PLACEHOLDER }}</span>
      }
    </div>
    <div class="traits">
      @let traitsComplete = hasAllTraits();
      <span class="value fw-bold"
            [class.partial]="hasAnyTrait()"
            [class.correct]="traitsComplete"
            [class.filter]="filter()?.filter == 'allTraits' || filter()?.filter == 'anyTrait'"
            (click)="setFilterCustom(traitsComplete ? 'allTraits' : 'anyTrait')">Traits </span>
      @for (trait of correctCard().traits; track trait) {
        @let hasValue = hasTrait(trait);
        <span class="value"
              [class.correct]="hasValue"
              [class.filter]="filter()?.filter == 'traits' && filter()?.value == trait"
              (click)="setFilterArray('traits', trait)">{{ hasValue ? trait : PLACEHOLDER }}</span>
      }
    </div>
  </div>
</div>

