// make correct guesses clickable
.partial, .correct, .resource {
  cursor: pointer;
}

// dont add radius to placeholder
.img.placeholder-img {
  border-radius: 0;
}

// mark active filters
.filter {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: #1796B7;
}
